html,
body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
}

body * {
  font-family: 'Jua', sans-serif;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

main {
  width: 100vmin;
  height: 75vmin;
  position: relative;
  overflow: hidden;
}

canvas {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.asset-img {
  display: none;
}

.ready-screen,
.finish-screen,
.guide-screen,
.mobile-buttons {
  position: absolute;
  width: 100%;
  height: 100%;
}

.ready-screen,
.finish-screen {
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  user-select: none;
  z-index: 10;
}

.ready-screen .title {
  font-size: 100px;
  color: white;
}

.play-img,
.replay-img {
  width: 11vmin;
  cursor: pointer;
  transform: scale(0);
}

.finish-screen {
  color: #fff;
  font-family: 'Jua';
  opacity: 0;
  pointer-events: none;
}

.finish-screen > .distance {
  font-size: 15vmin;
}
.finish-screen > .gift {
  font-size: 8vmin;
  margin-bottom: 8vmin;
  color: gold;
}

.guide-screen,
.mobile-buttons {
  display: none;
  justify-content: space-between;
}

.guide-screen.is-active,
.mobile-buttons.is-active {
  display: flex;
}

.mobile-buttons {
  align-items: end;
  box-sizing: border-box;
  padding: 30px;
}

.mobile-buttons button {
  width: 10vw;
  height: 10vw;
  background-color: whitesmoke;
  border-radius: 50%;
  opacity: 0.3;
  color: black;
  font-size: 2rem;
  font-weight: 700;
}

.guide-screen {
}

@media (max-width: 767px) {
  .ready-screen .title {
    font-size: 3rem;
  }

  .mobile-buttons button {
    font-size: 0.5rem;
  }
}
